  body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        
        h1 {
            margin-bottom: 30px;
            text-align: center;
        }
        
        img {
            width: 250px;
            height: 250px;
            border: 3px solid;
            border-radius: 8px;
            box-shadow: 0 4px 8px ;
        }
        
        button {
            margin-top: 25px;
            padding: 10px 20px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        
        button:hover {
            background-color: white;
            color: black;
            border:solid;
        }
        
        .cntador {
            margin-top: 15px;
            color: grey;
        }