body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: black;
            color: yellow;
        }
        
        h1 {
            text-align: center;;
        }
        
        .pregunta {
            margin: 20px 0;
            padding: 15px;
            border-radius: 5px;
            border: 5px solid yellow;
        }
        
        .botones {
            margin-top: 10px;
        }
        
        button {
            padding: 8px 15px;
            margin: 0 5px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        
        .verdadero {
            background: green;
            color: white;
        }
        
        .falso {
            background: red;
            color: white;
        }
        
        .acierto {
            background: #d4ffd4;
            border: solid 5px;
            border-color: green;
            color: black;
        }
        
        .error {
            background: #ffd4d4;
            border:solid 5px;
            border-color: red;
            color:black
        }
        
        #resultado {
            text-align: center;
            padding: 15px;
            margin-top: 20px;
            font-weight: bold;
            display: none;
        }